@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300.. 700&display=swap');
header{
    font-family: cursive;
     display: flex;
    flex-direction: row;
    justify-content:center space-between;
    font-size: 25px;
    background-color: rgb(169, 116, 219);
    width: 100%;
    

    
}
a{
    text-decoration: none;
}
header ul{
    list-style: none ;
    display: flex;
    flex-direction: row;
    
}
header ul li{
    margin: 15px;
}
img{
    width: 250px;
}
h1{
    font-size: 34px;
    color: rgb(31, 31, 100);
}
h2{
    font-size: 25px;
    color: rgb(40, 40, 195);

}
p{
    font-size: 20px;

}
ol
{font-size: 19px;

}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(157, 174, 216);
    margin: 10px 0 10px 0;
    font-family: cursive;
}
.cajas{
    width: 100%; 
    height:100% ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.cajas p{
    font-size: 20px;
}


